.loginContainer {
  max-width: 400px;
  margin: 120px auto;
  padding: 20px;
  background-color: #e0dede;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.103);
}

.loginContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.passwordContainer {
  position: relative;
}

.passwordToggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.passwordToggle:hover {
  color: #333;
}

.googleLogin {
  margin-top: 10px;
  background-color: #db4437;
}

.googleLogin:hover {
  background-color: #c92f1a;
}

.errorMessage {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.roleSelect {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.roleSelect label {
  font-size: 16px;
  margin: auto;
}

.registerLink {
  text-align: center;
  margin-top: 15px;
}

.registerLink a {
  color: #2c6e49;
  text-decoration: none;
}

.registerLink a:hover {
  text-decoration: underline;
}
