.carrosselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: auto;
}

.imagemContainer {
    width: 100%;
    overflow: hidden;
}

.imagemCarrossel {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.botaoAnterior,
.botaoProximo {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.botaoAnterior {
    left: 10px;
}

.botaoProximo {
    right: 10px;
}
