.carrosselContainer {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  
}

.carrosselContainer img{
  width: 100%; 
  height: 33rem; 
  object-fit: cover;
  border-radius:0 0 0 35%;
  filter: brightness(40%);
}

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 4rem;
  text-align: center;
  
  font-size: 2rem;
}

.titulo span{
  color: var(--tom-verde);
  text-shadow: 
        0 0 5px #000000, 
        0 0 10px #33ff3a, 
        0 0 20px #000000;
}

@media (max-width: 768px) {

  .titulo {
    font-size: 1.5rem;
  }

  img{
    object-fit: contain;
    margin: 0;
  }
}