.carrosselContainer {
  margin: 0;
  padding: ;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carrosselContainer img {
  width: 100%; 
  height: 33rem; 
  object-fit: cover;
  overflow: hidden;
  filter: brightness(50%) blur(1.2px);
  
}

.titulo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 3px 4px black;
  z-index: 10;
  width: 100%;
}

.titulo span {
  color: var(--tom-verde);
}

.desc{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 90%;
}

@media (max-width: 768px) {
   .titulo {
    font-size: 1.5rem;
  }

  .desc{
    font-size: 0.8rem;
  }
  
  .carrosselContainer img{
    height: 350px;
  }
  
}


@media (max-width: 768px) {
  .carrosselContainer img{
    height: 40rem;
  }

  .titulo {
    font-size: 1.4rem;
  }

  img {
    object-fit: contain;
  }
}
