.faqContainer {
    border-radius: 8px;
    text-align: center;  
}
  
  .faqList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 100px auto;
    max-width: 900px
  }
  
  .faqItem {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .faqQuestion {
    width: 100%;
    padding: 12px;
    text-align: left;
    font-size: 1.1rem;
    background-color: var(--tom-verde);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .faqQuestion:hover {
    background-color: #00500b;
  }
  
  .faqAnswer {
    margin-top: 15px;
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }
  
  .faqIcon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
  }
  
  .faqItem button:focus {
    outline: none;
  }