.Header {
    width: 100%;
}

header {
    width: 100%;
    padding: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tom-verde);
    border-bottom: double 10px var(--tom-laranja);
}

h1 {
    text-align: center;    
}

header img {
    width: 70px;
    height: 70px;
}

header nav {
    display: flex;
    align-items: center;
    position: relative;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    margin-right: 30px;
    padding: 4px;
    border-radius: 50px;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

.login {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--tom-laranja);
    color: #ff6600;
    border-radius: 15px;
    height: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login:hover {
    background-color: var(--tom-laranja);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

header nav a p {
    padding: 0 5px;
}

.option {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    margin-right: 30px;
    padding: 4px;
    border-radius: 50px;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 1rem;
}

.option:hover {
    color: var(--tom-laranja);
    transform: scale(1.1);
}

.option {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

nav ul {
    list-style: none;
    position: absolute;
    top: 30px;
    left: -140px;
    width: 170px;
    background-color: var(--tom-verde);
    z-index: 1000;
    border: 2px double var(--tom-laranja);
    border-radius: 10px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    display: block;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, max-height 0.3s ease, transform 0.3s ease;
}

nav ul li {
    padding: 10px 0;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--tom-laranja);
}

.curso {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.curso p:last-child {
    margin-left: auto;
}

.icone:hover {
    color: var(--tom-laranja);
    transition: ease-in-out 70ms;
    scale: 1.1;
}

.showList {
    opacity: 1;
    max-height: 210px;
    transform: translateY(0);
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    border: solid 2px var(--tom-laranja);
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.user-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-profile:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    header h1 {
        display: none;
    }

    header img {
        width: 40px;
        height: 40px;
    }
}
