:root {
    --tom-verde: #006b09;
    --tom-laranja: #ff6600;
}


header {
    padding: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tom-verde);
    border-bottom: double 10px var(--tom-laranja);
}

header img {
    width: 70px;
    height: 70px;
}

header nav {
    display: flex;
    align-items: center;
    position: relative; /* Para o posicionamento correto da lista */
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    margin-right: 30px;
    padding: 4px;
    border-radius: 50px;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease; /* Adicionando uma transição suave */
}

.login {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--tom-laranja);
    color: #ff6600;
    border-radius: 15px;
    height: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Suavizando a transição */
}

.login:hover {
    background-color: var(--tom-laranja);
    color: rgb(255, 255, 255);
    transform: scale(1.1); /* Trocando o 'scale' para 'transform' */
}

header nav a p {
    padding: 0 5px;
}

.option:hover {
    color: var(--tom-laranja);
    transform: scale(1.1); /* Melhorando o efeito de hover com transform */
}

nav ul {
    list-style: none;
    position: absolute;
    top: 30px;
    left: -140px;
    width: 170px;
    background-color: var(--tom-verde);
    z-index: 1000;
    border: 2px double var(--tom-laranja);
    border-radius: 10px;
    opacity: 0;
    height: 0;
    transition: height 0.4s ease-out, opacity 0.4s ease-out; /* Animação com height */
}

nav ul li {
    padding: 10px;
    color: white;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.3s ease; /* Suavizando a transição de hover */
}

nav ul li a:hover {
    color: var(--tom-laranja); /* Adicionando hover à lista de links */
}

.icone:hover {
    color: var(--tom-laranja);
    transition: ease-in-out 70ms;
}

.showList {
    height: 200px; 
    opacity: 1; /* Torna o menu visível */
    overflow: hidden;
}
