.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}

.container p{
    color: rgb(0, 0, 0);
    margin: 100px 50px;
    font-size: 1.5rem;
    text-align: justify;
}

.Edital {
    border-radius: 0;
    text-align: center;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--tom-verde);
    padding: 20px 50px;
    position: relative;
    top: -5px;

}

.TitulosEdital{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.Edital h2 {
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.Edital p {
    font-size: 1rem;
    color: #cbcbcb;
    margin-bottom: 20px;
    max-width: 80%;
}

.BotaoEdital {
    text-decoration: none;
    color: var(--tom-laranja);
    padding: 7px;
    border: solid 2px var(--tom-laranja);
    font-size: 1rem;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    width: 320px;
}

.BotaoEdital:hover {
    background-color: var(--tom-laranja);
    color: #ffffff;
    transition: 100ms ease-in-out;
}

.InforHome {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

.CardInfor {
    background-color: #f4f4f9;
    border-radius: 8px;
    padding: 20px;
    width: 25%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.IconInf{
    font-size: 40px;
    color: var(--tom-verde);
    margin-bottom: 15px;
}

.CardInfor h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.CardInfor p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10%;
    
}

.CardInfor button {
    background-color: #ffffff;
    color: var(--tom-verde);
    border: solid 2px var(--tom-verde);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.CardInfor button:hover {
    background-color: var(--tom-verde);
    color: #ffffff;
}

.ImagemObjetivo{
    width: 20rem;
}

.gestao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    max-width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}

.card{
    background-color: var(--tom-verde);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    color: rgb(255, 255, 255);
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    border: solid 2px var(--tom-laranja);
    margin: 0 5px;
    
  
    .foto{
        background-color: var(--tom-verde2);
        height: 70px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        margin: 0 0 70px 0;
    }

    img{
        padding: 3px;
        border: solid 2px var(--tom-laranja);
        width: 100px;
        height: 100px;
        margin: 0 0 15px 0 ;
        border-radius: 50%;
        position: absolute;
        margin-top: 20px;
        background-color: var(--tom-verde);
    }

    p{
        color: rgb(170, 170, 170);
    }
    
}

.motivos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    max-width: 70%;
    border-radius: 20px;

}

.Bloco{
    background-color: var(--tom-verde2);
    padding: 100px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.TituloMotivo{
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.cardM{
    background-color: black;
    height: 200px;
    width: 220px;
    margin: 3px;
    border-radius: 10px;
    background-color: var(--tom-verde);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: solid 2px var(--tom-laranja);
    transition: transform 0.3s, box-shadow 0.3s;

    .IconM{
        color: var(--tom-laranja);
        scale: 1.5;
    }

    :last-child{
        margin-top: 20px;
    }
}

@media (max-width: 768px){
    .container p{
        font-size: 1rem;
        margin: 50px 0;
    }

    .Edital{
        padding: 20px 15px;

    }

    .Edital h2{
        font-size: 1.4rem;
    }

    .Edital p{
        font-size: 0.7rem;
        max-width: 95%;
    }

    .InforHome {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }

    .InforHome::-webkit-scrollbar {
        height: 8px; 
    }
    
    .InforHome::-webkit-scrollbar-thumb {
        background-color: var(--tom-laranja); 
        border-radius: 10px; 
    }
    
    .InforHome::-webkit-scrollbar-track {
        background-color: var(--tom-verde); 
        border-radius: 10px;
    }

    .CardInfor {
        min-width: 100%; 
        flex-shrink: 0;   
    }

    .ImagemObjetivo{
        display: none;
    }

    .card{
        width: 140px;
        height: 210px;
        font-size: 0.8rem;
    }

    .motivos{
        max-width: 100%;
    }

    .cardM{
        width: 150px;
        font-size: 0.7rem;
        padding: 10px;
        height: 150px;

    }

    .TituloMotivo{
        font-size: 1.4rem;
    }
    
}