.H1Titulo{
    padding-top: 50px;
    border-bottom: solid 3px var(--tom-laranja);
    width: 90%;
    padding-bottom: 5px;
    margin: auto;
    color: var(--tom-verde);
}

@media (max-width: 768px){
    .H1Titulo{
        font-size: 1.2rem;
    }
}