@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: var(--tom-verde); 
}

::-webkit-scrollbar-thumb {
  background: var(--tom-laranja); 
  border-radius: 10px; 
  transition: background 0.5s ease-in-out; 
}

::-webkit-scrollbar-thumb:active {
  background: var(--tom-laranja); 
}
